body{
    color: azure;
    background-image: url(https://img.freepik.com/premium-vector/design-elements-binary-computer-code-halftone-pattern-dark-background-vector-illustration-eps-10-frame-with-digital-data-cryptography-texture-technology-electronic-network-algorithm_299644-12401.jpg);
    background-size: cover;

}

.header a{
    color: bisque;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header a:hover{
    color: aquamarine;
}

.corpo{
    display: flex;
    align-items: center;
}

ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

ul li{
    list-style-type: none;
    padding: 4px;
}

li a{
    color: rgb(251, 152, 152);
    text-decoration: none;
}