<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio 05</title>
</head>
<body>
    <p><a href="../../desafios.html" target="_self" rel="prev">Voltar</a></p>
    <h1>Minhas rede sociais</h1>
    <h2>Quem eu sou?</h2>
    <img src="img/200px.png" alt="Imagem de perfil">
    <p>Meu nome é <b>Lenildo Júnior</b>,sou estudante de programação,desenvolvimento web e segurança da informação. Estou estudando Sobre o Ramo de REDES de forma geral desde 2024 e hoje posso dizer que tenho uma boa base de conhecimento e posso desenvolver scripts,programas mais elaborados e sofisticados,mas ainda sim, sou um aprendiz e tenho muito que aprender pela frente. </p>
    <h2>Como falar comigo?</h2>
        <ul>
            <li><img src="img/icone-youtube.png" alt="icon Youtube"><a href="https://www.youtube.com/@LJUNIORN" target="_blank" rel="external">Youtube</a></li>
            <li><img src="img/icone-github.png" alt="icon Git Hub"><a href="https://github.com/SHEILONG11" target="_blank" rel="external">Github</a></li>
            <li><img src="img/icone-instagram.png" alt="icon Instagram"><a href="https://www.instagram.com/ljblues_/" target="_blank" rel="external">Instagram</a></li>
            <li><img src="img/icone-linkedin.png" alt="icon linkedin"><a href="https://www.linkedin.com/checkpoint/lg/login?trk=guest_homepage-basic_google-one-tap-submit" target="_blank" rel="external">Linkedin</a></li>
        </ul>
</body>
</html>