<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Vídeos</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <header>
        <p><a href="../../desafios.html" target="_self" rel="prev">Voltar</a></p>
        <h1>Vídeos legais para assistir</h1>
    </header>
    <div class="corpo">
        <nav>
            <picture>
                <div class="elementos">
                    <a href="paginas/pagina01.html"><img src="imagens/img01.png" alt="img01"></a>
                </div>
                <div class="elementos">
                    <a href="paginas/pagina02.html"><img src="imagens/img02.png" alt="img02"></a>
                </div>
                <div class="elementos">
                    <a href="paginas/pagina03.html"><img src="imagens/img03.png" alt="img03"></a>
                </div>
                <div class="elementos">
                    <a href="paginas/pagina04.html"><img src="imagens/img04.png" alt="img04"></a>
                </div>
            </picture>
        </nav>
    </div>

</body>
</html>