<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estilo CSS Externos</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <h1>Trabalhando com CSS Externos</h1>
    <h2>Teste de estilos</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut molestias rem unde corrupti deserunt corporis ipsum expedita hic eos labore quae sapiente, laudantium adipisci eius sunt vitae cupiditate sint doloremque?</p>
    <p><mark>Vc pode misturar os 3 tipos de css numa combinação para que um deles mude todas as pagina, outro mude apenas algum item específico e outro que mude apenas aquela página.. os três tipos de css são muito uteis.</mark></p>
    <p><a href="index.html">Voltar</a></p>
</body>
</html>