<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>página 2</title>
</head>
<body>
    <h1>Esta é a segunda página do meu site</h1>
    <p>Você está na segunda página clique em <a href="aula10.html" rel="previous">Voltar para primeira pagina</a> Para voltar</p>
    <p>Esta página é um oferecimento de <a href="https://www.cursoemvideo.com/" target="_blank" rel="nofollow">Curso em vídeo</a></p>
    <sub>
        <p>Neste link usei <code><b>tarket="nofollow"</b></code> para indicar para meu site não seguir esse link, ou seja, <MARK>não fazer ligações com esse link</MARK>, mas, o usuário vai ser encaminhado normalmente para este link</p>
    </sub>

</body>
</html>