<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aulas-Conceitos</title>
    <link rel="stylesheet" href="../static/css/aulas-exercicios.css">
</head>
<body>
    <div class="header">
        <p><a href="Modulo01.html" target="_self" rel="prev">Voltar</a></p>
    </div>

    <div class="corpo">
        <ul>
            <li>
                <a href="./aulas/aula02.html" target="_self" rel="next">Aula02</a> Parágrafos e Imagens
            </li>
            <li>
                <a href="./aulas/aula04.html" target="_self" rel="next">Aula04</a>Ícones
            </li>
            <li>
                <a href="aulas/aula07.html" target="_self" rel="next">Aula07</a>Tags Obsoletas
            </li>
            <li>
                <a href="aulas/aula08.html" target="_self" rel="next">Aula08</a>Formatações
            </li>
            <li>
                <a href="aulas/aula08-B.html" target="_self" rel="next">Aula08-B</a>Outras formatações
            </li>
            <li>
                <a href="aulas/aula09.html" target="_self" rel="next">Aula09</a>Listas
            </li>
            <li>
                <a href="aulas/aula10.html" target="_self" rel="next">Aula10</a>Links
            </li>
            <li>
                <a href="aulas/ex011/index.html">Aula11</a>Mídias
            </li>
            <li><a href="aulas/ex012/index.html">Aula12</a>Mídias PT-2</li>
            <li><a href="aulas/ex013/index.html">Aula13</a>CSS INline</li>
            <li><a href="aulas/ex014/index.html">Aula14</a>CSS Interno/Externo</li>
        </ul>
    </div>

</body>
</html>