<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="../static/css/contact.css">
    <link rel="shortcut icon" href="../static/shortcut/favicon-insta.ico" type="image/x-icon">
</head>
<body>
    <div>
        <nav>
            <ul>
                <li>
                    <a href="index.html" target="_self" rel="prev"> Sobre mim</a>
                </li>
                <li>
                    <a href="project.html" target="_self" rel="prev"> Projetos</a>
                </li>
                <li>
                    <a href="contact.html" target="_self" > Contato</a>
                </li>
            </ul>
        </nav>
    </div>
    <hr>
    
    <footer>
        <a href="https://www.instagram.com/ljblues_/" target="_blank" rel="noopener noreferrer">
        <img src="../static/img/logo insta comercial.webp">
        <p>Instagram</p>
    </a>
    <p><a href="projetos/desafios/05/index.html">Blog para contato</a></p>
</footer>
    



</body>
</html>