<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafios-Exercícios</title>
    <link rel="stylesheet" href="../static/css/aulas-exercicios.css">
</head>
<body>
    <div class="header">
        <p><a href="Modulo01.html" target="_self" rel="prev">Voltar</a></p>
    </div>
    <div class="corpo">
        <ul>
            <li><a href="desafios/02/index.html">Imagens</a></li>
            <li><a href="desafios/03/index.html">Desafio mapa</a></li>
            <li><a href="desafios/04/index.html">Emojis</a></li>
            <li><a href="desafios/05/index.html">Mini blog</a></li>
            <li><a href="desafios/06/index.html">Tags abbr</a></li>
            <li><a href="desafios/07/index.html">Imagem Flexível</a></li>
            <li><a href="desafios/09/index.html">Mídias</a></li>
            </ul>
    </div>
</body>
</html>