<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio 03</title>
    <link rel="shortcut icon" href="../02/favicon.ico">
</head>
<body>
    <p><a href="../../desafios.html" target="_self" rel="prev">Voltar</a></p>
    <h1>Desafio do Mapa</h1>
    <p>Agora chegou a hora de treinar um pouco o uso de imanges,paragráfos e quebras de linha.</p>
    <div class="map-grid">
        <img src="img/mapa03.png" alt="img01"><img src="img/mapa07.png" alt="img02"><img src="img/mapa05.png" alt="img03">
        <br>
        <img src="img/mapa09.png" alt="img04"><img src="img/mapa01.png" alt="img05"><img src="img/mapa08.png" alt="img06">
        <br>
        <img src="img/mapa06.png" alt="img07"><img src="img/mapa02.png" alt="img08"><img src="img/mapa04.png" alt="img09">
    </div>
    <!--Só lembrando de como se comenta aqui hehe-->
</body>
</html>