<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>página 3</title>
</head>
<body>
    <h1>Terceira página</h1>
    <p>Esta é a terceira página!</p>
    <p><a href="../aula10.html" target="_self" rel="prev">voltar para primeira página</a> <sup>#target _self abre na propria pagina, n é obrigatorio usar</sup></p>
    <p> Para procurar o link fora da pasta noticia use ../ para voltar a página anterior</p>
</body>
</html>
